src/main/resources/com/edu/common/dynamicdb/schema/dynamicdb-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.corejava.com/common/dynamicdb" xmlns="http://www.corejava.com/common/dynamicdb"
	elementFormDefault="qualified">

	<!-- 客户端配置元素 -->
	<xsd:element name="ds">
		<xsd:complexType>
			<!-- 属性部分 -->
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="class" type="xsd:string" use="required" />
			<xsd:attribute name="path" type="xsd:string" use="required" />
			<xsd:attribute name="properties" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>